@tailwind base;
@tailwind components;
@tailwind utilities;


@layer components{
    .grid_{
        grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    }
}

* {
    cursor: none; /* Hide the default cursor for all elements */
}

body, 
a, 
button, 
li {
    cursor: none; /* Additional rule for specific interactive elements */
}


.box {
    box-shadow: 0 0 3px #10abdf;
}

.boxs{
    @apply w-48 h-48 text-white font-bold text-2xl p-6 overflow-hidden;
}
.num{
    @apply text-9xl opacity-45 translate-x-10 translate-y-2;
}
.btn{
    @apply bg-[#1a253b] font-bold text-white p-2 w-56 ;
}
.text{
    @apply text-sm text-gray-500 leading-6;
}