@tailwind base;
@tailwind components;
@tailwind utilities;


@layer components{
    .grid_{
        grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    }
}

* {
    cursor: none; /* Hide the default cursor for all elements */
}

body, 
a, 
button, 
li {
    cursor: none; /* Additional rule for specific interactive elements */
}


.box {
    box-shadow: 0 0 3px #10abdf;
}

